@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");

.default:hover {
 background-color: #f7f7f7;
 transition: background-color 0.4s;
}

.tweet {
  width: 100% !important;
}

.Navigation-logo { height: 40px !important;}
.Navigation-links {
  font-size: 19px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.1s, color 0.1s;
  cursor: pointer;
}

.Navigation-links:hover {
  background-color: #e8f5fe;
  color: #4496cb;
}

#Nagivation-home {
  color: #4496cb !important;
}

.Navigation-footer {
  position: fixed;
  bottom: 25px;
  left: inherit;
  right: inherit;
}

i {
  font-size: 22px;
}
button {
  border: inherit;
  background: inherit;
  color: inherit;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
small a { text-decoration: underline; }
small a:hover { background-color: #00000022; }

.Explore-blocks {
  background-color: #f8f9fb;
  border-radius: 25px;
  padding: 10px;
}

#Explore-search-bar {
  padding: 8px;
  padding-left: 45px !important;
  outline: none;
  border: none;
  background-color: #eaeef0;
}

.Explore-light {
  color: #777777;
}
.input-icons i { 
  position: absolute; 
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 
#Explore-search-icon { 
  color: #777777;
  padding: 10px; 
}
input { width: 100%; }
.Explore-blocks strong { font-size: 20px; }

.Explore-trends strong { font-size: 17px; }

.Explore-trending-article:hover {
  background-color: #f0f1f3;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}


.Explore-trending-article{
  cursor: pointer;
}

.btn {
  width: 100%;
  border-radius: 30px;
  margin: 20px;
  padding: 12px;
}

.btn-primary, .btn-primary:focus {
  color: #ffffff;
  background-color: #1da1f3;
}

.btn-secondary, .btn-secondary:focus {
  background-color: #96a0ac;
}

.btn-outline-primary {
  border-radius: 30px;
}
.btn-outline-primary:hover { 
  background-color: #dbe9f2;
  color: #007bff;
}

.btn-primary:hover {
  background-color: #1d91db;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}

small .Explore-light {
  line-height: 0.6;
}

.Modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  padding: 3%;
  border-radius: 90px;
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: inset 0 0 15px 9px #1da1f388;
  border: none;
  background-color: #ffffff;
  overflow: scroll;
  overflow-x: hidden;
  outline: none;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 20%;
  background-color: #1da1f388;
  backdrop-filter: blur(4px);
  z-index: 5000;
  outline: none;
}
@media (max-width: 768px) {
  .Navigation-footer {
    position: inherit;
  }
  .Navigation-links {
    margin: 0px !important;
  }
  .Modal {
    top: 5px;
    bottom: 5px;
    padding: 3%;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}